<html>
  <head>
    <link rel="stylesheet/less" type="text/css" href="/static/grid.less">
    <link rel="stylesheet/less" type="text/css" href="/static/styles.less">
    <script src="/static/jquery.min.js" type="text/javascript"></script>
    <script src="/static/less.min.js" type="text/javascript"></script>
    <script src="/static/showdown.js" type="text/javascript"></script>

    {% block header %}
    {% endblock %}

  </head>
  <body>
    {% block content %}{% endblock %}
  </body>
</html>
